* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --preto: rgb(0, 0, 0);
    --branco: #FFFFFF;
    --azul: #523fe4;
    --amarelo: #d2b420;
    --roxo-claro: #c76ffe;
    --verde: #79d644;
    --azul-claro: #23b2c5;
    --marron-claro: #5b3311;
    --cinza: #e4f2ff;
    --verde-claro: #b9ffb9;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-condensed-<uniquifier> {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(180deg, #2d5a3b, #428d55, #2d5a3b);
    color: var(--amarelo-claro);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    width: 100%;
    background: linear-gradient(180deg, #2d555a, #42848d, #2d555a);
    padding: 1rem;
    position: relative;
    justify-content: center;
}


.menu-disciplina {
    width: 20%;
    display: inline-block;
}

.botao-disciplinas {
    cursor: pointer;
    font-size: 2rem;
    background: none;
    background-color: var(--verde-claro);
    border: none;
    padding: 1.05rem 1.5rem;
    color: var(--preto);
}

#menu-toggle {
    display: none;
}

.lista-vertical {
    display: none;
    position: absolute;
    background-color: var(--preto);
    box-shadow: 0 2px 5px var(--marinho);
    min-width: 190px;
    z-index: 1;
    left: 20.2rem;
    top: 100%;
}

.lista-vertical a {
    font-family: "Audiowide", sans-serif;
    color: var(--branco);
    padding: 0.75rem 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    text-align: center;
}

.lista-vertical a:hover {
    background-color: var(--amarelo-claro);
}

#menu-toggle:checked~.lista-vertical {
    display: block;
}

#menu-toggle:checked+.botao-disciplinas {
    color: var(--branco);
    background-color: var(--amarelo);
}

.links-principais {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.lista-horizontal {
    list-style: none;
    display: flex;
    font-size: 2rem;
    gap: 17rem;
}


.lista-horizontal a {
    text-decoration: none;
    color: var(--amarelo-claro);
}

.lista-horizontal a:hover {
    color: var(--preto);
}