/* PRÉ-FIGURAÇÕES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ESQUEMA DE CORES*/

:root {
    --preto: rgb(0, 0, 0);
    --branco: #FFFFFF;
    --azul: #523fe4;
    --amarelo: #d2b420;
    --roxo-claro: #c76ffe;
    --verde: #79d644;
    --azul-claro: #23b2c5;
    --marron-claro: #5b3311;
    --cinza: #e4f2ff;
    --verde-claro: #b9ffb9;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-condensed-uniquifier {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(180deg, #2d5a3b, #428d55, #2d5a3b);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    width: 100%;
    background: linear-gradient(180deg, #2d555a, #42848d, #2d555a);
    padding: 1rem;
    justify-content: center;
}

.portfolio h2{
    font-size: 4.5rem;
    color: var(--branco);
}

main {
    margin: 40px auto;
    padding: 20px;
}

.caixas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 58px;
    flex-wrap: wrap;
}

.materias {
    font-family: "Audiowide", sans-serif;
    display: flex;
    justify-content: center;
    background-color: var(--cinza);
    border-radius: 25px;
    padding: 18px;
    width: 58%;
    min-width: 280px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.materias:hover {
    transform: translateY(-4px) scale(1.04);
    box-shadow: 0 0 0 10px rgba(107, 190, 223, 0.3);
}

.materias a {
    color: var(--verde);
    font-size: 4rem;
    text-decoration: none;
}

.materias a:hover {
    color: var(--amarelo);
}

footer{
    width: 100%;
    background: linear-gradient(180deg, #262769, #3b3da8, #262769);
    padding: 1rem;
    position: absolute;
}

.creditos h1 {
    font-family: "Roboto Condensed", sans-serif;
    justify-content: center;
    display: flex;
    font-size: 1rem;
    color: var(--branco);
}
