/*PRÉ-FIGURAÇÕES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ESQUEMA DE CORES*/

:root {
    --preto: rgb(0, 0, 0);
    --branco: #FFFFFF;
    --azul: #523fe4;
    --amarelo: #d2b420;
    --roxo-claro: #c76ffe;
    --verde: #79d644;
    --azul-claro: #23b2c5;
    --marron-claro: #5b3311;
    --cinza: #e4f2ff;
    --verde-claro: #b9ffb9;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    box-sizing: border-box;
    background-color: transparent;
    background-image: linear-gradient( to right, rgb(68, 245, 97), rgb(42, 80, 42), yellow, blue );
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    width: 100%;
    background-color: var(--marron-claro);
    padding: 1rem;
    justify-content: center;
}

.portfolio h2{
    font-size: 2.4rem;
    color: var(--branco);
}

main {
    margin: 40px auto;
    padding: 20px;
}

.caixas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.materias {
    font-family: "Audiowide", sans-serif;
    display: flex;
    justify-content: center;
    background-color: var(--cinza);
    border-radius: 25px;
    padding: 18px;
    width: 50%;
    min-width: 280px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}